body{
  background-color: #61dafbaa;
  margin: 20px auto; /* Center the form horizontally */
  width: 300px;
}
form {
  margin: 20px auto; /* Center the form horizontally */
  width: 300px;
  border-style: dotted;
}
label {
  display: block; /* Display labels in block format */
  margin-bottom: 5px;
}

.nombre{
  background-color: #61dafbaa;
  font-size: large;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; /* Make text fields and textareas full-width */
  padding: 8px; /* Add some padding for better readability */
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add a border around input fields */
  border-radius: 5px; /* Add rounded corners to input fields */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

textarea {
  height: 100px; /* Set a fixed height for textareas */
}

input[type="submit"] {
  background-color: #4CAF50; /* Green background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding to the submit button */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
}

input[type="submit"]:hover {
  background-color: #45a049; /* Darker green color on hover */
}