<%- include("base", {title: 'Envio'}) %>
<body>
  
    <form class="w-full max-w-sm" method="post" action="/submit">
        <div class="flex items-center border-b border-teal-500 py-2">
           <label for="nombre">Diga su nombre:</label>  
          <input name="nombre" class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="Se enviara a la ruta /submit." aria-label="Full name">
          <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
            Inscribirse
          </button>
        </div>
      </form>
</body>
</html>