<%- include("base", {title: 'Inicio'}) %>
<body>
  <h1 class="text-3xl font-bold underline">
    Bienvenidos bootcampers
  </h1>
  <header>
    <h1>Welcome to My Nice HTML Page</h1>
</header>
<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
</body>
</html>