<%- include("base", {title: 'Inicio'}) %>
<body>
  <h1 class="text-3xl font-bold underline">
    Bienvenidos bootcampers
  </h1>
  <header>
    <h1>Taller-express</h1>
</header>
<nav>
    <ul>
        <li><a href="/envio">Enviar datos</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>
</body>
</html>