<%- include("base", {title: 'About'}) %>
<body>
    <p><%= titu %></p>
    <section>
        <h2>About Us</h2>
        <p>Sobre nosotros en español.</p>
    </section>
    <footer>
        <p>&copy; 2024 Taller express. All rights reserved.</p>
    </footer>


</body>
</html>