<%- include("base", {title: 'About'}) %>
<body>
    <p><%= titu %></p>
    <section>
        <h2>About Us</h2>
        <p>This is a simple HTML page created for demonstration purposes.</p>
    </section>
    <footer>
        <p>&copy; 2024 My Nice HTML Page. All rights reserved.</p>
    </footer>


</body>
</html>