<%- include("base", {title: 'Envio'}) %>
<body>
  
 
        <div class="flex items-center border-b border-teal-500 py-2">
           <h3>Esto recibimos como su nombre</h3>
           
        </div>

</body>
</html>